.homePage {
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%; 
    height: 100%;
    background-image: url('https://images.unsplash.com/photo-1534361960057-19889db9621e?q=80&w=2670&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'); 
    background-repeat: no-repeat;
    background-position: center center; 
    background-size: cover; 
} 