/* Adoptpage.module.css */

.page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  
  
  .adopt-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  .category-card {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }