.footer{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: aliceblue;
    color:#003264;
    padding-top:40px;
    height:320px;
}

.left, .right {
    flex: 1;
}
.left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.left img{
    width: 250px;
    height: auto;
    cursor: pointer;
}
.left a{
    margin-left: 10px;
    font-size: 20px;
}

.info-section {
    margin-bottom: 40px;
  }
  
.info-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}
  
.info-text {
    font-size: 16px;
    line-height: 1.5;
}

.contact-detail {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
