.banner{
    width:100%;
    min-height: calc(100vh - 60px);
    padding-top:80px;
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}   


  
.banner-container {
    width: 60%; /* adjust as needed */
    margin-left: 10%;
}
  
.banner-img {
    width: 40%; /* adjust as needed */
}