.contactPage{
    background-color:#001f3f ;
    flex-direction: column;
}

.contactPage h1{
    color:#fff;
    text-align: center;
    margin-top: 20px;
}

.contactPage-intro-img{
    position: relative;
    background-image: url(https://images.unsplash.com/photo-1450778869180-41d0601e046e?q=80&w=2572&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    width: 100%;
    height:295px;
}

.contact{
    margin:30px auto;
    max-width: 90%;
    display: flex;
    align-content: center;
    justify-content: center;   
    height:auto;
}

.contact-col{
    flex-basis:40%;
    color:#fff;
}

.contact-col h2{
    color: #fff;
    font-weight: 500;
    font-size: 25px;
}

.contact-col label{
    color:#fff;
    font-weight: 500;
}

.contact-col p{
    max-width: 450px;
    font-size: 16px;
    margin-top: 20px;
}

.contact-col ul li{
    display: flex;
    align-items: center;
    margin:20px 0;
}

.contact form input, .contact form textarea{
    display:block;
    width: 100%;
    background:#EBECFE;
    padding:15px;
    border:0;
    outline:0;
    margin-bottom:20px;
    margin-top:5px;
    resize:none;
    border-radius: 8px;
}

.send-btn {
    background-color: #fff;
    color: #003264;
    padding: 9px 25px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 30px;
    cursor: pointer;
    border: 0;
    outline: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out; 
    display:block;
}
  
.send-btn:hover {
    background-color: #003264 !important;
    color: #fff !important;
    border: solid 2px #fff;
}
  
@media (max-width: 800px) {
    .contact {
      flex-direction: column;
      align-items: center;
    }
  
    .contact-col {
      width: 100%;
      flex-basis: auto;
      margin-bottom: 20px;
    }
  
    .contact-col p {
      max-width: 100%;
    }

    .send-btn{
        width:fit-content;
        margin:0 auto;
    }
}